<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= render "layouts/document_head" %>
  </head>

  <body class="flex min-h-screen flex-col bg-midnight text-soft-white">
    <%= render "shared/site_header" %>
    <%= render "shared/flash_messages" %>

    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render "shared/site_footer" %>
  </body>
</html>
